* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 20px auto;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 2px #b6acac;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 60%;
  margin: 0px auto;
}

.w-33 {
  width: 33%;
}

.w-20 {
  width: 20%;
}
